<div class="container">
  <div class="row user">
    <div class="four columns">
      <h3>When?</h3>
      <i class="fa fa-calendar"></i>
      <p>
        Friday, April 14th
        4:00 to 7:00pm
      </p>
    </div>
    <div class="four columns">
      <h3>Where?</h3>
      <i class="fa fa-map-marker"></i>
      <p>
        The UGA Conference Center
        <br>
        1197 S Lumpkin St, Athens, GA 30602
        <br>
        <a class="link" target="_blank" href="https://goo.gl/maps/3EfLfbsJJUL2">Map</a>
      </p>
    </div>
    <div class="four columns">
      <h3>How much?</h3>
      <i class="fa fa-money"></i>
      <p>
        Free!
      </p>
    </div>
  </div>
  <a class="project-link" style="margin: auto" target="_blank" href="https://goo.gl/forms/YqUqBXIp6IcMwAOH3">Register</a>
  <p></p>
</div>
