<div class="container">
  <h1 class="text-center">Committee</h1>
  <h3> Faculty </h3>
  <br>
  <div class="row">
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/arpinar.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Ismailcem Budak Arpinar</p>
    </div>
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/ramaswamy.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Laksmish Ramaswamy</p>
    </div>
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/pic_kyu.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Kyu Hyung Lee</p>
    </div>
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/rasheed.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Khaled Rasheed</p>
    </div>
  </div>
  <br>
  <h3>Students</h3>
  <div class="row">
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/brad.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Brad Bazemore</p>
    </div>
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/mohammadhossein.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Mohammadhossein Toutiaee</p>
    </div>
  </div>
</div>