<div class="container">
  <div class="user-details">
    <h1> Program </h1>
  </div>

  <div class="user-details">

    <div class="six columns">
      <h3> Poster Session </h3>
      <p>
        Graduate and undergraduate students in computer science will be presenting posters on their latest research and projects.
      </p>
    </div>
  </div>

  <div class="user-details">

    <div class="six columns">
      <h3> Demos </h3>
      <p>
        Students will have demonstrations of just some of the amazing working being done in the computer science department.
      </p>
    </div>
  </div>

  <div class="user-details">

    <div class="six columns">
      <h3> Food </h3>
      <p>
        Food will be served.
      </p>
    </div>
  </div>

  <div class="user-details">

    <div class="six columns">
      <h3> Keynote </h3>
      <p>
       A keynote on one of the most pressing matters in our modern world, cyber security.
      </p>
    </div>
  </div>

</div>
